@import "UserAuth.module";

.forgotPassword {
    display: inline-block;
    margin: 1.5rem 0 0.2rem 1rem;
    color: gray;
    text-decoration: underline;

    &:hover {
        color: black;
    }
}
