@import "utils.module";

.authBackground {
    background-image: linear-gradient(103deg, #1a6bad 0%, #79c2d7 72%);
    border: 1px solid #979797;
    width: 100vw;
    height: 100vh;
}

.authLayout {
    display: flex;
    flex-direction: column;
}

.authContainer {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80vh;
    border-radius: 50px 0 0 0;
}

.authHeading {
    padding: 2rem;
    color: #1f8ec1;
}

.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authPrimaryButton {
    @extend .button;
    width: 100%;
}

.authSecondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.authSecondaryPrompt {
    display: block;
    margin-bottom: 0.5rem;
}

.authSecondaryLink {
    color: #1f8ec1;
    text-decoration: underline;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}
